{% extends 'base.html'%}

{% block content %}

{% load cloudinary %}

{% if user.is_authenticated and user.id == post.author.id %}

<h1 class="h1 display-4 text-center mt-2"> Edit Recipe </h1>



<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <form class="signup" id="add_recipe_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary right mb-2" type="submit" value="Save">Edit Recipe</button>
        </form>
    </div>
</div>


{% else %}

<h3> Sorry, you must be signed in to do that! </h3>

{% endif %}

{% endblock %}

